.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{
    margin: 10% auto auto;
    font-family: JetBrains Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 30px;
    display: flex;
    align-items: center;
}