.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 640px;
    align-self: center;
    margin-top: 122px;
}

.number {
    font-family: 'Iceland', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #F2F2F3;
    margin-right: 10px;
}

.name {
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #F2F2F3;
    align-self: start;

}

.status {
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00CCCC;
    align-self: start;
}

.composition {
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #F2F2F3;
    align-self: start;
}

.time {
    display: flex;
    flex-direction: row;
    width: 640px;
    justify-content: space-between;
}

.sum {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
}
.timeTitle{
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;
}