.body {
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
}
.ingredients{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
}