
.box {
    margin-bottom: 24px;
    width: 100%;
}

.box > div {
    width: 100%;
}

.box > div > div {
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
