.container{
    max-width: 600px;
    display: grid;
    gap: 16px;
   max-height: 290px;
    scroll-behavior: revert;
    position: sticky;
    overflow-y: scroll;
}
.list{
    font-family: 'Jet Brains Mono', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px
}
.sum{

    font-family: Iceland,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #F2F2F3;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 9px 0px 8px;
}
.btn{
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    border-radius: 64px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px 0px 41px;
    height: 64px;
    width: 215px;
    color: #F2F2F3;

}
.total{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: flex-end;
    align-items: center;
}
.cunt{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box{
    margin-bottom: 40px;
    margin-right: 45px;
    margin-top: 100px;
    max-height: 100vh;
}
.bunSection{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 30px;
    max-width: 525px;
}
.middleItemsList{
    display: flex;
    flex-direction: row;
    align-items: center;
}